body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(75,150,125);
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin: 10px;
    text-shadow: 3px 3px 3px red;
}

/* Calculator Container */


.mainContainer {
    box-shadow: -12px -12px 8px #c9c8c8, 12px 12px 8px #c9c8c8;
    width: clamp(300px, 60vw, 800px);
    height: 80vh;
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: darkgray;

}

/* Answer Output Section of Calculator */

.output {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3%;
    
}

.result {
    width: 100%;
    height: 60%;
    border: 3px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.answer {
    font-size: min(5vw, 40px);
}
/* Operations Section of Calculator */

.operators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 20%;
}
.operator {
    border: 2px solid gray;
    border-radius: 5px;
    width: 15%;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: bolder;
}

/* Number Section of Calculator */

#numpad {
    width: 80%;
    height: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10%;
    column-gap: 10%;
    justify-items: center;
}

.number {
    width: 80%;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: bolder;
}

.number:hover, .operator:hover {
    border: 2px solid black;
    background-color: gray;
    color: blue;
}

.number:active, .operator:active {
    background-color:black;
    color: white;
}